.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.draggable {
    display: inline-block;
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
}
